.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .header{
        padding: 10px;
        background-color: aqua;
        color: black;
        font-weight: 700;
        .userName {
            width: 100%;
            max-width: 40%;
            padding: 10px;
            border: 2px solid #6b6ddb;
        }
    }

    .container {
        display: grid;
        width: 100%;
        max-width: 500px;
        grid-template-rows: repeat(2, 106px);
        grid-template-areas: 
        "avatar information"
        "avatar btnSave";
        margin: 20px 0 0 20px;

        .avatar{
            position: relative;
            display: flex;
            grid-area: avatar;
            max-width: 100px;
            max-height: 100px;
            height: 100%;
            border-radius: 50px;
            border: 3px solid #aeaeae;
            background-color: #aeaeae;
            z-index: 5;

            img {
                width: 100%;
                z-index: 5;
            }

            span {
                position: absolute;
                bottom: 5px;
                left: 0;
                width: 20px;
                height: 20px;
                background-color: rgb(76, 214, 76);
                border-radius: 50%;
                z-index: 10;
            }
        }

        .information{
            display: flex;
            flex-direction: column;
            align-self: center;
            width: 100%;
            max-width: 350px;
            grid-area: information;
            
            .inf{
                display: flex;
                width: 100%;
                justify-content: space-between;

                .title{
                    color: #aeaeae;
                    font-size: 20px;
                }

                input {
                    width: 100%;
                    max-width: 200px;
                    color: #000;
                    border: 1px solid #aeaeae;
                    outline: none;
                    border-radius: 0;
                    padding: 5px 10px;

                    &::placeholder {
                        color: #aeaeae;
                    }
                }
            }

        }
        .btnSave {
            cursor: pointer;
            user-select: none;
            grid-area: btnSave;
            align-self: start;
            background: aqua;
            font-size: 14px;
            font-weight: 700;
            margin-top: 20px;
            border: 0;
            padding: 8px 14px;
        }

    }
}